<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bgstuffs.pabapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_car1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signUp" />
        <activity android:name=".forgetPassword" />
        <activity
            android:name=".afterLogin"
            android:label="@string/title_activity_after_login" />
        <activity android:name=".myLocation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA7NdUwXK5Hq2mq7teq-hF6BXO5LnZ87r0" />

        <activity android:name=".ServiceShop1" />
        <activity android:name=".ServiceShop2" />
        <activity android:name=".ServiceShop3" />
        <activity android:name=".ServiceShop4" />
        <activity android:name=".Servicehop5" />
        <activity android:name=".ServiceShop6"></activity>
    </application>

</manifest>